/* Tailwind CSS를 가져오기 */
@import "tailwindcss";
/* tw-animate-css 애니메이션 라이브러리 가져오기 */
@import "tw-animate-css";
/* Tailwind CSS 플러그인 등록 */
@plugin "@tailwindcss/typography";

/* 다크 모드 커스텀 변형 정의 - .dark 클래스가 있는 요소 내부의 모든 요소에 적용 */
@custom-variant dark (&:is(.dark *));

/* Tailwind CSS 테마 설정 - CSS 변수들을 정의하여 Tailwind 클래스에서 사용할 수 있게 함 */
@theme inline {
  --font-ibm: var(--font-ibm-plex-sans-kr);


  /* figma 변수 추가 */
  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);
  --color-brand-950: var(--color-brand-950);


  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-disabled: var(--text-disabled);
  --color-text-inverse-black: var(--text-inverse-black);
  --color-text-inverse-white: var(--text-inverse-white);
  
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-border-disabled: var(--border-disabled);
  --color-border-inverse-black: var(--border-inverse-black);
  --color-border-inverse-white: var(--border-inverse-white);

  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-bg-faint: var(--bg-faint);
  --color-bg-disabled: var(--bg-disabled);
  --color-bg-inverse-black: var(--bg-inverse-black);
  --color-bg-inverse-white: var(--bg-inverse-white);

  --color-icon-primary: var(--icon-primary);
  --color-icon-secondary: var(--icon-secondary);
  --color-icon-tertiary: var(--icon-tertiary);
  --color-icon-disabled: var(--icon-disabled);
  --color-icon-inverse-black: var(--icon-inverse-black);
  --color-icon-inverse-white: var(--icon-inverse-white);
}

/* Tailwind CSS의 base 레이어 - 기본 스타일 정의 */
@layer base {
  /* 루트 요소 (라이트 모드)에 대한 CSS 변수 정의 */
  :root {
    /* figma 변수 추가 */
    --color-brand-50: #F5F5F5;
    --color-brand-100: #E3E3E3;
    --color-brand-200: #D0D0D0;
    --color-brand-300: #B9B9B9;
    --color-brand-400: #A1A1A1;
    --color-brand-500: #8A8A8A;
    --color-brand-600: #727272;
    --color-brand-700: #575757;
    --color-brand-800: #444444;
    --color-brand-900: #2d2d2d;
    --color-brand-950: #151515;
    --color-mono-black: #000000;
    --color-mono-white: #FFFFFF;

    --text-primary: var(--color-brand-950);
    --text-secondary: var(--color-brand-600);
    --text-tertiary: var(--color-brand-700);
    --text-disabled: var(--color-brand-500);
    --text-inverse-black: var(--color-mono-black);
    --text-inverse-white: var(--color-mono-white);

    --border-primary: var(--color-brand-950);
    --border-secondary: var(--color-brand-500);
    --border-tertiary: var(--color-brand-200);
    --border-disabled: var(--color-brand-400);
    --border-inverse-black: var(--color-mono-black);
    --border-inverse-white: var(--color-mono-white);

    --bg-primary: var(--color-brand-950);
    --bg-secondary: var(--color-brand-500);
    --bg-tertiary: var(--color-brand-100);
    --bg-faint: var(--color-brand-50);
    --bg-disabled: var(--color-brand-50);
    --bg-inverse-black: var(--color-mono-black);
    --bg-inverse-white: var(--color-mono-white);

    --icon-primary: var(--color-brand-950);
    --icon-secondary: var(--color-brand-500);
    --icon-tertiary: var(--color-brand-600);
    --icon-disabled: var(--color-brand-400);
    --icon-inverse-black: var(--color-mono-black);
    --icon-inverse-white: var(--color-mono-white);
  }

  /* 다크 모드 클래스에 대한 CSS 변수 정의 */
  .dark {
    --text-primary: var(--color-brand-50);
    --text-secondary: var(--color-brand-300);
    --text-tertiary: var(--color-brand-100);
    --text-disabled: var(--color-brand-400);
    --text-inverse-black: var(--color-mono-white);
    --text-inverse-white: var(--color-brand-950);

    --border-primary: var(--color-brand-50);
    --border-secondary: var(--color-brand-200);
    --border-tertiary: var(--color-brand-200);
    --border-disabled: var(--color-brand-300);
    --border-inverse-black: var(--color-mono-white);
    --border-inverse-white: var(--color-brand-950);

    --bg-primary: var(--color-brand-50);
    --bg-secondary: var(--color-brand-500);
    --bg-tertiary: var(--color-brand-800);
    --bg-faint: var(--color-brand-50);
    --bg-disabled: var(--color-brand-50);
    --bg-inverse-black: var(--color-mono-white);
    --bg-inverse-white: var(--color-brand-950);

    --icon-primary: var(--color-brand-50);
    --icon-secondary: var(--color-brand-100);
    --icon-tertiary: var(--color-brand-200);
    --icon-disabled: var(--color-brand-300);
    --icon-inverse-black: var(--color-mono-white);
    --icon-inverse-white: var(--color-brand-950);
  }
}



